.references p {
  margin-left: 2em; /* Adjust the left margin as needed */
  text-indent: -2em; /* This should match the left margin */
  text-align: justify; /* Justify the text */
}

.page-break {
  visibility: hidden;
  page-break-before: always;
  break-before: page;
}

details {
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 15px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

details > summary {
  cursor: pointer;
  font-weight: bold;
  padding: 5px;
  border-radius: 3px;
  margin-bottom: 0;
}

details[open] > summary {
  margin-bottom: 15px;
}

details > summary:hover {
  transform: scale(1.02);
}

details[open] {
  padding: 10px;
}

details[open] > div {
  padding: 10px;
  background-color: #f9f9f9;
  border-top: 1px solid #ddd;
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}

@media print {
  body {
      font-size: 12px; /* Adjust this value as needed */
  }
  h1 {
      font-size: 18px;
  }
  h2 {
      font-size: 16px;
  }
  h3 {
      font-size: 14px;
  }
  p, li, table, th, td {
      font-size: 11px !important;
  }
}
