/* @theme ub-theme */

@import 'default';


:root {
    background-image: url("../assets/template/background.jpg");
    background-size: 100% 100%;
}

section {
  padding: 50px;
  font-size: 24px;
  justify-content: flex-start;
  padding-top: 120px;
}

header,
footer {
  position: absolute;
  left: 50px;
  right: 50px;
  height: 20px;
  
}

header {
  left: 140px;
  top: 20px;
}

footer {
  bottom: 30px;
}

img[alt~="center"] {
  display: block;
  margin: 0 auto;
}

section.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

section.lead h1 {
  /* font-size: 86px; */
  /* letter-spacing: 15px; */
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 0;
}

/* lead for first page */
section.lead h2 {
  letter-spacing: 3px;
  font-size: 14px;
}

section.lead header,
footer {
  color: transparent;
  
}

section.lead::after {
  color: transparent;
}


section.overview_all {
  background-image: url("../assets/lecture_overview.jpg");
  background-size: 100% 100%;
}

section.overview_part_1 {
  background-image: url("../assets/lecture_overview.jpg");
  background-size: 100% 100%;
}

section.overview_part_2 {
  background-image: url("../assets/lecture_2-4.jpg");
  background-size: 100% 100%;
}

section.overview_part_3 {
  background-image: url("../assets/lecture_5-7.jpg");
  background-size: 100% 100%;
}

section.overview_part_4 {
  background-image: url("../assets/lecture_8-10.jpg");
  background-size: 100% 100%;
}

section.overview_part_5 {
  background-image: url("../assets/lecture_11-12.jpg");
  background-size: 100% 100%;
}


/* pages */
section::after {
  position: absolute;
  left: 50px;
  right: 50px;
  height: 10px;
  bottom:5px;

  color:black;
}
